3. Node-red/Node-redFlow.json
[{"id":"5a524a44.dabe24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"51018b9f.831474","type":"ibmiot in","z":"5a524a44.dabe24","authentication":"apiKey","apiKey":"4955cab0.928f14","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"10014.","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":80,"wires":[["d8e734ea.ba2ff8","c2d890bd.726bf","ccd12600.539778"]]},{"id":"d8e734ea.ba2ff8","type":"debug","z":"5a524a44.dabe24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"c2d890bd.726bf","type":"function","z":"5a524a44.dabe24","name":"Body temprature","func":"global.set('temperature',msg.payload.d.temperature)\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["d8e734ea.ba2ff8","261a554e.1fccda"]]},{"id":"ccd12600.539778","type":"function","z":"5a524a44.dabe24","name":"Heart Rate(BPM)","func":"global.set('humidity',msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":220,"wires":[["d8e734ea.ba2ff8","c62f1d7f.fd703"]]},{"id":"261a554e.1fccda","type":"ui_gauge","z":"5a524a44.dabe24","name":"Temprature","group":"16d2275f.2a79d9","order":0,"width":0,"height":0,"gtype":"gage","title":"Body Temprature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"c62f1d7f.fd703","type":"ui_gauge","z":"5a524a44.dabe24","name":"Humidity","group":"16d2275f.2a79d9","order":1,"width":0,"height":0,"gtype":"gage","title":"Heart Rate(BPM)","label":"Percentage","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":220,"wires":[]},{"id":"bcee0957.fb11a8","type":"http in","z":"5a524a44.dabe24","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":192,"y":440,"wires":[["7f4228f.4bb16d8"]]},{"id":"76c7a56f.d905ec","type":"http response","z":"5a524a44.dabe24","name":"","statusCode":"","headers":{},"x":590,"y":440,"wires":[]},{"id":"7f4228f.4bb16d8","type":"function","z":"5a524a44.dabe24","name":"","func":"msg.payload={\"temperature\":global.get('temperature'),\"Humidity\":global.get('humidity'),\"Object Temprature\":global.get('objectTemp')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":440,"wires":[["76c7a56f.d905ec"]]},{"id":"45bdf989.d8e578","type":"cloudant out","z":"5a524a44.dabe24","name":"","cloudant":"","database":"sdata","service":"Cloudant-3d","payonly":false,"operation":"insert","x":510,"y":500,"wires":[]},{"id":"80cd36c8.7fd5a8","type":"inject","z":"5a524a44.dabe24","name":"Hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":310,"y":540,"wires":[["45bdf989.d8e578"]]},{"id":"4955cab0.928f14","type":"ibmiot","name":"NodeMCU","keepalive":"60","serverName":"e1y7dq.messaging.internetofthings.ibmcloud.com","cleansession":false,"appId":"","shared":false},{"id":"16d2275f.2a79d9","type":"ui_group","name":"HealthCheck","tab":"6cfe9f13.ab1a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6cfe9f13.ab1a8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]